.categories {
  margin-top: 60px;
}
/* category hover  */

.list-group-item:hover {
  border-radius: 0px;
  cursor: pointer;
  background-color: rgb(245, 245, 203);
  color: brown;
}

/* inputFilter */

.input-group {
  margin-top: 30px;
  width: 30%;
}

/* jokes */
.jokesMessage {
  margin-top: 15%;
  text-align: left;
}

/* gif image */

.gif {
  text-align: right;
}

/* CSS for responsiveness */

@media (max-width: 767px) {
  /* Reduce font size and height of input field for small screens */
  input.form-control {
    height: 30px;
    font-size: small;
  }
}
