<!-- logo at top and center -->

<div class="container text-center">
  <div class="logo" style="margin-top: 10px">
    <img
      src="/assets/chucknorris_logo_coloured_small@2x.png"
      alt=""
      width="300px"
    />
  </div>
</div>

<!-- button for random jokes function. -->

<div class="container d-flex justify-content-center mb-3">
  <input
    (click)="randomJoke()"
    style="
      background-color: rgb(158, 195, 71);
      color: white;
      box-shadow: none;
      margin-top: 20px;
      font-size: 1.2rem;
      width: fit-content;
      height: max-content;
    "
    type="button"
    class="form-control"
    aria-label="Text input with dropdown button"
    value="Click me for a Lot Pot !"
  />
</div>

<!-- api error message -->

<div class="text-center jokesData">
  <p>{{ jokesError }}</p>
</div>

<!-- categories of jokes -->

<div class="container text-center categories">
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-12">
      <div class="row" style="width: 100%">
        <h6
          style="
            font-family: 'Times New Roman', Times, serif;
            font-weight: bolder;
            font-size: larger;
          "
        >
          <!-- filter Category using input -->

          Choose a Category
          <hr style="color: red" />
          <input
            placeholder="Search "
            [(ngModel)]="filterText"
            (input)="filterCategoryUsingInput()"
            style="
              margin-top: 20px;
              margin-bottom: 10px;
              height: 35px;
              box-shadow: none;
            "
            type="text"
            class="form-control"
            aria-label="Text input with dropdown button"
          />
        </h6>

        <!-- showing all categories using for loop -->

        <div
          class="scrollable-container"
          style="height: 400px; overflow: auto; text-align: left"
        >
          <ul class="list-group custom-list-group">
            <li
              *ngFor="let types of filteredJokesType"
              (click)="filterTypesOfJokes(types)"
              style="font-size: smaller; border: none"
              class="list-group-item"
              id="animal"
            >
              {{ types | uppercase }}
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- showing jokes here in h3 -->

    <div
      class="col-lg-8 col-md-9 col-sm-12 jokesMessage"
      *ngFor="let jokes of iconAndValue"
    >
      <h3 style="font-family: 'Times New Roman', Times, serif">
        {{ jokes.value | myPipeName }} 😂
        <div class="gif">
          <img
            [src]="'/assets/' + randomValue + '.gif'"
            alt=""
            srcset=""
            height="200px"
          />
        </div>
      </h3>
    </div>
  </div>
</div>

<hr />
